@page
@using System.Drawing.Printing;
@using YazarKasaPetrol.Models;
@using YazarKasaPetrol.Models.Interfaces;
@using YazarKasaPetrol.Controller;
@using YazarKasaPetrol.Pages;
@model YazarKasaPetrol.Pages.GasStationInvoicesModel
@{
    Layout = "_FilterPage";

    List<SuperAdmin>? db1 = ((CashContent) Retriever.RetrieveTables(Utilities.PATH)).DataContent;
    List<Admin>? db2 = ((CashContent) Retriever.RetrieveTables(Utilities.PATH1)).DataContent_1;
    string? theEntrepriseName = null, superAdmin = null, admin = null;

    try
    {
        var supAdm = db1?.Where(x => x.TaxNumber == GasStationInvoicesModel.TaxNumber).ToList();
        var adm = db2?.Where(x => x.AdminModel.TaxNumber == GasStationInvoicesModel.TaxNumber).ToList();

        if (supAdm != null && supAdm.Count != 0)
        {
            theEntrepriseName = supAdm[0].GasStationName[0];
        }
        else if (adm != null && adm.Count != 0)
        {
            theEntrepriseName = adm[0].AdminModel.GasStationName[0];
        }
    }
    catch
    {
        
    }
}

<div class="container">
    <div class="card container">
        <div class="p-3">
            <h5 class="card-title">
                @theEntrepriseName kodlu plakanın bütün faturaları
            </h5>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group input-group-icon">
                            <label class="form-label text-info" id="searchInvoicesLabel">Faturalar içinden ara</label>
                            <input class="form-control" type="text" id="searchInvoicesFilter" placeholder="Ara...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table project-list-table table-nowrap align-middle table-borderless" id="gasInvoicesTable">
                <thead>
                    <tr>
                        <th scope="col" class="table-sort">Unvan</th>
                        <th scope="col" class="table-sort">Tarih</th>
                        <th scope="col" class="table-sort">Saat</th>
                        <th scope="col" class="table-sort">Fiş No</th>
                        <th scope="col" class="table-sort">Z no</th>
                        <th scope="col" class="table-sort">Ekü no</th>
                        <th scope="col" class="table-sort">Birim fiyat</th>
                        <th scope="col" class="table-sort">Litre</th>
                        <th scope="col" class="table-sort">Toplam fiyat</th>
                        <th scope="col" class="table-sort">İşlem</th>
                    </tr>
                </thead>
                <tbody id="tableElements">
                    @{
                        List<UserInvoiceContainer>? allInvoices = (Retriever.RetrieveTables(Utilities.PATH2, "INVOICE") as InvoiceContent)?.DataContent?.FindAll(x => x.TaxId == GasStationInvoicesModel.TaxNumber);

                        if (allInvoices != null && allInvoices.Count != 0)
                        {
                            List<Invoice>? filteredInvoices = allInvoices[0].Invoices;
                            if (filteredInvoices != null)
                            {
                                for (int i = 0; i < filteredInvoices.Count; i++)
                                {
                                    SuperAdmin? theCash = ((CashContent)Retriever.RetrieveTables(Utilities.PATH))?.DataContent?.Where(x => x.TaxNumber == GasStationInvoicesModel.TaxNumber).ToList().FirstOrDefault();

                                    Admin? theCash2 = ((CashContent)Retriever.RetrieveTables(Utilities.PATH1)).DataContent_1?.Where(x => x.AdminModel.TaxNumber == GasStationInvoicesModel.TaxNumber && x.AdminTaxNumber == AuthType.TheCurrentAuth?.UserCredentialsForInvoice?.TaxNumber).ToList().FirstOrDefault();

                                    string[] theDateFull = filteredInvoices[i].Tarih.Value.ToString().Split(" ");
                                    string[] theDate = theDateFull[0].Split("-");
                                    string[] theHour = theDateFull[1].Split(":");
                                    string dateDisplayer = theDate[0] + "/" + theDate[1] + "/" + filteredInvoices[i].Tarih.Value.Year;
                                    string hourDisplayer = theHour[0] + ":" + theHour[1];

                                    List<string>? gasStationName = theCash == null ? theCash2?.AdminModel.GasStationName : theCash.GasStationName;
                                    string gasStationNameJoined = string.Join("µ", gasStationName);
                                    string? gasTypeName = theCash == null ? theCash2?.AdminModel.GasType : theCash.GasType;

                                    string? CashLetters = theCash == null ? theCash2?.AdminModel.CashLetters : theCash.CashLetters;
                                    string? CashNumbers = theCash == null ? theCash2?.AdminModel.CashId : theCash.CashId;
                                    string? CashTypeName = theCash == null ? theCash2?.AdminModel.CashTypeName : theCash.CashTypeName;

                                    <tr id="searchPlateContent_@i">
                                        <td id="inv_1_@(i)">@gasStationName[0]</td>
                                        <td id="inv_2_@(i)">@dateDisplayer</td>
                                        <td id="inv_3_@(i)">@hourDisplayer</td>
                                        <td id="inv_4_@(i)">@filteredInvoices[i].FisNo</td>
                                        <td id="inv_5_@(i)">@filteredInvoices[i].ZRaporuNo</td>
                                        <td id="inv_6_@(i)">@filteredInvoices[i].EkuNo</td>
                                        <td id="inv_7_@(i)">@filteredInvoices[i].BirimFiyat.ToString("0.00")</td>
                                        <td id="inv_8_@(i)">@filteredInvoices[i].Litre.ToString("0.00")</td>
                                        <td id="inv_9_@(i)">@filteredInvoices[i].TotalFiyat.ToString("0.00")</td>
                                        <td id="inv_10_@(i)">@filteredInvoices[i].PlakaNo</td>
                                        <td>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#printInvoiceModal" onclick="printInvoice('@GasStationInvoicesModel.TaxNumber', @(i), '@gasStationNameJoined', '@gasTypeName', '@CashLetters', '@CashNumbers', '@CashTypeName')" title="Print this invoice" class="px-2 text-info">
                                                        <i class='bx bx-printer font-size-1'></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="printInvoiceModal" tabindex="-1" aria-labelledby="printInvoiceModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fatura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div id="page">
                        <div class="row-texts">
                            <div class="row-text" id="InvoiceTaxNumberSection">
                                Firma ismi
                            </div>
                        </div>
                        <div class="col-texts">
                            <div class="row-texts">
                                <div class="row-text text-left" id="InvoiceDateSection">00-00-0000</div>
                                <div class="row-text text-left" id="InvoiceNoSection">FİŞ NO: 0000</div>
                            </div>
                            <div class="row-texts row-texts2">
                                <div class="row-text text-right" id="InvoiceHourSection">00:00</div>
                            </div>
                        </div>
                        <div class="row-texts">
                            <div class="row-text row-texts-big" id="InvoicePlateSection">10AAA123</div>
                        </div>
                        <div class="col-texts">
                            <div class="row-texts">
                                <div class="col-texts row-text text-left"><div class="row-text" id="InvoiceLitreSection">1,00 LT</div> x <div class="row-text" id="InvoicePriceSection">1,00</div></div>
                            </div>
                        </div>
                        <div class="col-texts">
                            <div class="row-texts row-texts2">
                                <div class="row-text text-left" id="InvoiceGasTypeSection">MOT.VPRO</div>
                                <div class="row-text text-right">%18</div>
                            </div>
                            <div class="row-texts row-texts2">
                                <div class="row-text text-right InvoiceTotalPriceSection">*200</div>
                            </div>
                        </div>
                        <hr id="line">
                        <div class="col-texts">
                            <div class="row-texts">
                                <div class="row-text text-left row-texts-big">TOPKDV</div>
                                <div class="row-text text-left row-texts-big">TOPLAM</div>

                            </div>
                            <div class="row-texts row-texts-right">
                                <div class="row-text text-right row-texts-big" id="InvoiceVatPriceSection">*10,00</div>
                                <div class="row-text text-right row-texts-big InvoiceTotalPriceSection">*200,00</div>
                            </div>
                        </div>

                        <div class="col-texts">
                            <div class="row-texts">
                                <div class="row-text text-left">NAKİT</div>
                            </div>
                            <div class="row-texts row-texts-right">
                                <div class="row-text text-right InvoiceTotalPriceSection">*200,00</div>
                            </div>
                        </div>

                        <div>
                            <div id="InvoiceQRCodeSection"></div>
                        </div>
                        <div class="row-texts">
                            <div class="row-text">İYİ YOLCULUKLAR DİLERİZ</div>
                        </div>
                        <div class="col-texts col-texts-spaced">
                            <div class="row-texts">
                                <div class="row-text text-left" id="InvoiceEkuSection">EKU NO: 0001</div>
                            </div>
                            <div class="row-texts row-texts-right">
                                <div class="row-text text-right" id="InvoiceZReportSection">Z NO: 0001</div>
                            </div>
                        </div>
                        <div class="row-texts">
                            <div class="row-text" id="InvoiceCashLettersAndNumbersSection"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 row d-grid gap-2">
                    <button type="button" class="btn btn-primary" id="printInvoiceFromPlate" data-bs-dismiss="modal" aria-label="Close">Yazdır</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/GasStationInvoices.js"></script>

<script>

    let options = {
        numberPerPage: 50, 
        goBar: true, 
        pageCounter: true
    };

    let filterOptions = {
        el: '#searchInvoicesFilter' 
    };

    paginate.init('#gasInvoicesTable', options, filterOptions);

    $(document).ready(function () 
    {
        $("#printInvoiceFromPlate").click(function () 
        {
            $("#page").printThis();
        });
    });
</script>
