@page
@using System.Drawing.Printing;
@using YazarKasaPetrol.Models;
@using YazarKasaPetrol.Models.Interfaces;
@using YazarKasaPetrol.Controller;
@using YazarKasaPetrol.Pages;
@using System.Text;
@using System.Text.Json;
@model YazarKasaPetrol.Pages.SearchPlateModel
@{
    Layout = "_FilterPage";
    string cashLetters, cashNumbers, cashTypeName, gasType;
}

<div class="container">
    <div class="card container">
        <div class="p-3">
            <h5 class="card-title">
                @SearchPlateModel.PlateNumber kodlu plakanın bütün faturaları
            </h5>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group input-group-icon">
                            <label class="form-label text-info" id="searchInvoicesLabel">Faturalar içinden ara</label>
                            <input class="form-control" type="text" id="searchInvoicesFilter" placeholder="Ara...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table project-list-table table-nowrap align-middle table-borderless" id="invoicesTable">
                <thead>
                    <tr>
                        <th scope="col">Plaka</th>
                        <th scope="col">Unvan</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Saat</th>
                        <th scope="col">Fiş No</th>
                        <th scope="col">Z no</th>
                        <th scope="col">Ekü no</th>
                        <th scope="col">Birim fiyat</th>
                        <th scope="col">Litre</th>
                        <th scope="col">Toplam fiyat</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody id="tableElements">
                    @{
                        List<UserInvoiceContainer> allInvoices = (Retriever.RetrieveTables(Utilities.PATH2, "INVOICE") as InvoiceContent).DataContent;

                        string plakaNo = SearchPlateModel.PlateNumber;

                        var groupedTaxNumbers = allInvoices.Select(x => x.TaxId).ToList();
                        var groupedInvoices = allInvoices.Select(x => x.Invoices).ToList();

                        Dictionary<string, List<Invoice>> allFilteredInvoices = new();
                        List<Invoice> plateFilteredInvoices; 

                        for(int i = 0; i < groupedTaxNumbers.Count; i++)
                        {
                            plateFilteredInvoices = groupedInvoices[i].Where(y => y.PlakaNo == plakaNo).ToList();
                            allFilteredInvoices.Add(groupedTaxNumbers[i], plateFilteredInvoices);
                        }

                        List<string> cashNames(string taxNumber)
                        {
                            List<string> names = new();
                            List<SuperAdmin>? ad1 = ((CashContent)Retriever.RetrieveTables(Utilities.PATH)).DataContent?.Where(x => x.TaxNumber == taxNumber).ToList();
                            List<Admin>? ad2 = ((CashContent)Retriever.RetrieveTables(Utilities.PATH1)).DataContent_1?.Where(x => x.AdminModel.TaxNumber == taxNumber).ToList();

                            if (ad1.Count != 0)
                            {
                                foreach (var item in ad1)
                                {
                                    names.Add(item.GasStationName[0]);
                                    names.Add(item.CashLetters);
                                    names.Add(item.CashId);
                                    names.Add(item.CashTypeName);
                                    names.Add(item.GasType);
                                }
                            }
                            else if (ad2.Count != 0)
                            {
                                foreach (var item in ad2)
                                {
                                    names.Add(item.AdminModel.GasStationName[0]);
                                    names.Add(item.AdminModel.CashLetters);
                                    names.Add(item.AdminModel.CashId);
                                    names.Add(item.AdminModel.CashTypeName);
                                    names.Add(item.AdminModel.GasType);
                                }
                            }
                            else
                            {
                                return names;
                            }

                            return names;
                        }

                        for(int i = 0; i < allFilteredInvoices.Count; i++)
                        {
                            var item = allFilteredInvoices.Keys.ToList()[i];
                            var item2 = allFilteredInvoices.Values.ToList()[i];
                            for (int j = 0; j < item2.Count; j++)
                            {
                                var theCash = cashNames(item);

                                var theDateFull = item2[j].Tarih.Value.ToString().Split(" ");
                                string[] theDate = theDateFull[0].Split("-");
                                string[] theHour = theDateFull[1].Split(":");
                                string dateDisplayer = theDate[0] + "/" + theDate[1] + "/" + allInvoices[i].Invoices[j].Tarih.Value.Year;
                                string hourDisplayer = theHour[0] + ":" + theHour[1];
                                string entrepriseName = theCash[0];
                                cashLetters = theCash[1];
                                cashNumbers = theCash[2];
                                cashTypeName = theCash[3];
                                gasType = theCash[4];

                                <tr id="searchPlateContent_@i">
                                    <td id="inv_1_@(i)_@(j)">@item2[j].PlakaNo</td>
                                    <td id="inv_2_@(i)_@(j)">@entrepriseName</td>
                                    <td id="inv_3_@(i)_@(j)">@dateDisplayer</td>
                                    <td id="inv_4_@(i)_@(j)">@hourDisplayer</td>
                                    <td id="inv_5_@(i)_@(j)">@item2[j].FisNo</td>
                                    <td id="inv_6_@(i)_@(j)">@item2[j].ZRaporuNo</td>
                                    <td id="inv_7_@(i)_@(j)">@item2[j].EkuNo</td>
                                    <td id="inv_8_@(i)_@(j)">@item2[j].BirimFiyat.ToString("0.00")</td>
                                    <td id="inv_9_@(i)_@(j)">@item2[j].Litre.ToString("0.00")</td>
                                    <td id="inv_10_@(i)_@(j)">@item2[j].TotalFiyat.ToString("0.00")</td>
                                    <td>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#printInvoiceModal" onclick="printInvoice('@gasType', '@cashTypeName ','@cashLetters','@cashNumbers','@item', @(i), @(j))" title="Print this invoice" class="px-2 text-info">
                                                    <i class='bx bx-printer font-size-1'></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="printInvoiceModal" tabindex="-1" aria-labelledby="printInvoiceModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fatura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div id="page">
                        <div class="row-texts">
                            <div class="row-text" id="InvoiceTaxNumberSection">
                                Firma ismi
                            </div>
                        </div>
                        <div class="col-texts">
                            <div class="row-texts">
                                <div class="row-text text-left" id="InvoiceDateSection">00-00-0000</div>
                                <div class="row-text text-left" id="InvoiceNoSection">FİŞ NO: 0000</div>
                            </div>
                            <div class="row-texts row-texts2">
                                <div class="row-text text-right" id="InvoiceHourSection">00:00</div>
                            </div>
                        </div>
                        <div class="row-texts">
                            <div class="row-text row-texts-big" id="InvoicePlateSection">10AAA123</div>
                        </div>
                        <div class="col-texts">
                            <div class="row-texts">
                                <div class="col-texts row-text text-left"><div class="row-text" id="InvoiceLitreSection">1,00 LT</div> x <div class="row-text" id="InvoicePriceSection">1,00</div></div>
                            </div>
                        </div>
                        <div class="col-texts">
                            <div class="row-texts row-texts2">
                                <div class="row-text text-left" id="InvoiceGasTypeSection">MOT.VPRO</div>
                                <div class="row-text text-right">%18</div>
                            </div>
                            <div class="row-texts row-texts2">
                                <div class="row-text text-right InvoiceTotalPriceSection">*200</div>
                            </div>
                        </div>
                        <hr id="line">
                        <div class="col-texts">
                            <div class="row-texts">
                                <div class="row-text text-left row-texts-big">TOPKDV</div>
                                <div class="row-text text-left row-texts-big">TOPLAM</div>

                            </div>
                            <div class="row-texts row-texts-right">
                                <div class="row-text text-right row-texts-big" id="InvoiceVatPriceSection">*10,00</div>
                                <div class="row-text text-right row-texts-big InvoiceTotalPriceSection">*200,00</div>
                            </div>
                        </div>

                        <div class="col-texts">
                            <div class="row-texts">
                                <div class="row-text text-left">NAKİT</div>
                            </div>
                            <div class="row-texts row-texts-right">
                                <div class="row-text text-right InvoiceTotalPriceSection">*200,00</div>
                            </div>
                        </div>

                        <div>
                            <div id="InvoiceQRCodeSection"></div>
                        </div>
                        <div class="row-texts">
                            <div class="row-text">İYİ YOLCULUKLAR DİLERİZ</div>
                        </div>
                        <div class="col-texts col-texts-spaced">
                            <div class="row-texts">
                                <div class="row-text text-left" id="InvoiceEkuSection">EKU NO: 0001</div>
                            </div>
                            <div class="row-texts row-texts-right">
                                <div class="row-text text-right" id="InvoiceZReportSection">Z NO: 0001</div>
                            </div>
                        </div>
                        <div class="row-texts">
                            <div class="row-text" id="InvoiceCashLettersAndNumbersSection">MFAU 000000000000</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="printInvoiceFromPlate" data-bs-dismiss="modal" aria-label="Close">Ekle</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/searchPlate.js"></script>

<script>
    let options = {
        numberPerPage: 50,
        goBar: true,
        pageCounter: true
    };

    let filterOptions = {
        el: '#searchInvoicesFilter'
    };

    paginate.init('#invoicesTable', options, filterOptions);
    $(document).ready(function () {
        $("#printInvoiceFromPlate").click(function () {
            $("#page").printThis();
        });
    });
</script>